extends ../layout

block content
    .main.container
        .row
                h1.display-4.m-b-2 #{title}

                // Create form
                form(method='POST' action='/plan/create')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text',placeholder='first and last' name='name')
                    div.form-group
                        label(for='overview') Overview:
                        input#name.form-control(type='text',placeholder='Overview of plan' name='overview')
                    div.form-group
                        label(for='soundTemplate') Sound Template:
                        .row
                            .col-md-3
                                input#soundTemplate.form-control(type='text',placeholder='Name of Template file' name='soundTemplate1')
                            button.col-md-offset-3.btn.btn-primary(type='button') New Sound File Template
                    div.form-group
                        label(for='textTemplate') Text Template:
                        .row
                            .col-md-3
                                input#textTemplate.form-control(type='text',placeholder='Name of text part' name='textTemplate1')
                            .col-md-3
                                input#textTemplate2.form-control(type='text',placeholder='Name of parten' name='textTemplate2')
                            button.col-md-offset-3.btn.btn-primary(type='button') New Text Participant
                    button.btn.btn-primary(type='submit') Create