extends ../layout

block content
    .main.container
        .row
                h1.display-4.m-b-2 #{title}

                // Create form
                form(method='POST' action='/plan/create')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text',placeholder='first and last' name='name')
                    div.form-group
                        label(for='overview') Overview:
                        input#name.form-control(type='text',placeholder='Overview of plan' name='overview')

                    // Number of lesstion Area
                    div.form-group
                        label(for='numberLesson') Number of lesson:
                        input#name.form-control(type='text', placeholder='Number of lesson in plan')

                    // Mp3 files Area
                    div.form-group
                        label(for='numberMp3') Number of MP3 file:
                        input#name.form-control(type='text', placeholder='Number of Mp3 file')
                    div.form-group
                        label(for='soundTemplate') Sound Templates:
                        .row
                            .col-md-3
                                input#soundTemplate.form-control(type='text',placeholder='Name of Template file' name='soundTemplate1')

                    // Text Patition area
                    div.form-group
                        label(for='numberTextpart') Number of Text partition
                        input#name.form-control(type='text', placeholder='Number of Text Partition')
                    div.form-group
                        label(for='textTemplate') Text Templates:
                        .row
                            .col-md-3
                                input#textTemplate.form-control(type='text',placeholder='Name of text part' name='textTemplate1')
                            .col-md-3
                                input#textTemplate2.form-control(type='text',placeholder='Name of parten' name='textTemplate2')
                    button.btn.btn-primary(type='submit') Create