extends ../layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 #{title}

                // Create form
                form(method='POST' action='/plan/create')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text',placeholder='first and last' name='name')
                    div.form-group
                        label(for='overview') Overview:
                        input#name.form-control(type='text',placeholder='Overview of plan' name='overview')
                    button.btn.btn-primary(type='submit') Create