extends ../layout

block content
    .main.container
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 #{title}

            a(href="../plan/edit")
                button.btn.btn-primary(type="button") Go to status