extends ../layout

block content
    .row
        h1.display-4.m-b-2 #{title}
        
        // Schedule form
        form(method='POST' action='/plan/schedule')
            div.form-group
                label(for='name') Name:
                input#name.form-control(type='text',placeholder='first and last' name='name')
            div.form-group
                label(for='overview') Overview:
                input#name.form-control(type='text',placeholder='Overview of plan' name='overview')
            // Create Circle Area
            div.form-group
                label(for='circleTime') Circle Time:
                input#circletime.form-control(type='text', placeholder='Time for a circle: 1day, 1 week or, month, year...' name='circleTime')
            div.form-group
                label(for='numberlesson') Number of lesson in a circle:
                input#numberlesson.form-control(type='text', placeholder='Number of lesson per a circle: 1, 2, 3, ...' name='numberlesson')
            div.form-group
                label(for='timeunit') Time unit:
                input#timeunit.form-control(type='text', placeholder='Time unit: hour, day, week...' name='timeunit')
            div.form-group
                label(for='contentunit') Content unit:
                input#contentunit.form-control(type='text', placeholder='Content unit: partiction, or lesson' name='contentunit')
            div.form-group
                label(for='numberstep') Number of Step:
                input#numberstep.form-control(type='text', placeholder='Number of step in a schedule: 1, 2, 3, ...' name='numberstep')
            div.form-group
                label(for='schedule') Schedule:
            .row
                .col-md-1
                     label Step 01
                .col-md-1
                     label Month 01
                .col-md-1
                     label Week 01
                .col-md-1
                     label Day 01
                .col-md-2
                     input#hour01.form-control(type='text', placeholder='Insert hour taken' name='hour01')
                .col-md-3
                     input#hour01.form-control(type='text', placeholder='Insert actionL read, write, listen, speaking' name='action01')
                .col-md-1
                     label repeated number
                .col-md-2
                     input#hour01.form-control(type='text', placeholder='Insert file/pattion to use' name='hour01')
            .row
                .col-md-1
                     label Step 02
                .col-md-1
                     label Month 02
                .col-md-1
                     label Week 02
                .col-md-1
                     label Day 02
                .col-md-2
                     input#hour02.form-control(type='text', placeholder='Insert hour taken' name='hour02')
                .col-md-3
                     input#hour02.form-control(type='text', placeholder='Insert actionL read, write, listen, speaking' name='action02')
                .col-md-1
                     label repeated number
                .col-md-2
                     input#hour02.form-control(type='text', placeholder='Insert file/pattion to use' name='hour02')
            // Create schedual button


            button.btn.btn-primary(type='submit') Create
