//- includes/foot.pug
footer#footer.page-footer.font-small.blue.pt-4
    // Footer Links
    div.container-fluid.text-center.text-md-left
      .row
        .col-md-6.mt-md-0.mt-3
    // Copyright
    .footer-copyright.text-center.py-3 (C) 2018 Copyright: