div.form-group
    label(for='numbenewword') Number of participant
    input#numbernewword.form-control(type='text', placeholder='Number of new word')
div.form-group
    label New participants:
    .row
        .col-md-4
            input.form-control(type='text', placeholder='new word')
        .col-md-4
            input.form-control(type='text', placeholder='Description')
    .row
        .col-md-4
            input.form-control(type='text', placeholder='new word')
        .col-md-4
            input.form-control(type='text', placeholder='Description')
div.form-group
    label Interaction:
    .row
        .col-md-4
            input.form-control(type='text', placeholder='Participant name')
        .col-md-4
            input.form-control(type='text', placeholder='message')
    .row
        .col-md-4
            input.form-control(type='text', placeholder='Participant name')
        .col-md-4
            input.form-control(type='text', placeholder='message')