div.form-group
    label(for='numbenewword') Number of word:
    input#numbernewword.form-control(type='text', placeholder='Number of new word')
div.form-group
    label New words:
    .row
        .col-md-4
            input.form-control(type='text', placeholder='new word')
        .col-md-4
            input.form-control(type='text', placeholder='Description')
    .row
        .col-md-4
            input.form-control(type='text', placeholder='new word')
        .col-md-4
            input.form-control(type='text', placeholder='Description')